.circle {
 border-radius: 50%;
}

.table-form input:active {
 border-color: #fff;
}

.bg-excel {
 background: #107c41 !important;
 color: #fff;
}

.btn.bor-0 {
 border-radius: 0 !important;
}

.d-contents {
 display: contents;
}